/* Footer base styles */
footer {
  background-color: #010066;
  padding: 10px;
  text-align: center;
  color: #ffffff;
}

.footer .social-media {
  margin: 20px 0;
  color: #ffffff;
}

.footer .social-media a {
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
}

.footer .social-media a:hover {
  color: #FFFF00;
}

p.footer1 a {
  color: #ffffff;
  text-decoration: none;
}

.footer1 a:hover {
  color: #ffff00;
}

/* Tablet view (768px and above) */
@media only screen and (max-width: 1024px) {
  .footer .social-media {
      margin: 15px 0;
  }

  .footer .social-media a {
      margin: 0 8px;
  }

  footer {
    font-size: 20px;
      padding: 15px;
  }

  .contact, .copyright {
      font-size: 18px;
      padding: 5px 0;
  }
}

/* Mobile view (below 768px) */
@media only screen and (max-width: 768px) {
  .footer .social-media {
      margin: 10px 0;
      display: flex;
      justify-content: center;
  }

  .footer .social-media a {
      margin: 0 5px;
  }

  footer {
      padding: 20px 10px;
  }

  .contact, .copyright {
      font-size: 12px;
      padding: 10px 0;
  }

  p.footer1 {
      font-size: 14px;
  }
}


